.goat{
    display: flex;
    text-align: center;
}
.goat img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.goat h2{
    color: brown;
    padding-top: 100px;
}
.shrimp{
    display: flex;
    text-align: center;
}
.shrimp img{
    padding: 20px;
    width: 400px;
    height: 400px;
}
.shrimp h2{
    color: brown;
    padding-top: 100px;
}
.masa{
    display: flex;
    text-align: center;
}
.masa img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.masa h2{
    color: brown;
    padding-top: 100px;
}
.sauce{
    display: flex;
    text-align: center;
}
.sauce img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.sauce h2{
    color: brown;
    padding-top: 100px;
}
.Blueberry{
    display: flex;
    text-align: center;
}
.Blueberry img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.Blueberry h2{
    color: brown;
    padding-top: 100px;
}
.coconut{
    display: flex;
    text-align: center;
}
.coconut img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.coconut h2{
    color: brown;
    padding-top: 100px;
}
.couscous{
    display: flex;
    text-align: center;
}
.couscous img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.couscous h2{
    color: brown;
    padding-top: 100px;
}
.Beef{
    display: flex;
    text-align: center;
}
.Beef img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.Beef h2{
    color: brown;
    padding-top: 100px;
}
.Eba{
    display: flex;
    text-align: center;
}
.Eba img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.Eba h2{
    color: brown;
    padding-top: 100px;
}
.cashew{
    display: flex;
    text-align: center;
}
.cashew img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.cashew h2{
    color: brown;
    padding-top: 100px;
}
.stew{
    display: flex;
    text-align: center;
}
.stew img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.stew h2{
    color: brown;
    padding-top: 100px;
}
.Creole{
    display: flex;
    text-align: center;
}
.Creole img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.Creole h2{
    color: brown;
    padding-top: 100px;
}
.drumstick{
    display: flex;
    text-align: center;
}
.drumstick img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.drumstick h2{
    color: brown;
    padding-top: 100px;
}
.chicken{
    display: flex;
    text-align: center;
}
.chicken img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.chicken h2{
    color: brown;
    padding-top: 100px;
}
.pie{
    display: flex;
    text-align: center;
}
.pie img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.pie h2{
    color: brown;
    padding-top: 100px;
}
.cabbage{
    display: flex;
    text-align: center;
}
.cabbage img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.cabbage h2{
    color: brown;
    padding-top: 100px;
}
.burger{
    display: flex;
    text-align: center;
}
.burger img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.burger h2{
    color: brown;
    padding-top: 100px;
}
.meatballs{
    display: flex;
    text-align: center;
}
.meatballs img{
    width: 400px;
    height: 400px;
    padding: 20px;
}
.meatballs h2{
    color: brown;
    padding-top: 100px;
}
